h1{
    margin: 0;
    text-align: center;
    font-size: 3.5rem;
    color: red;
}


#nav{
    text-align: center;
    margin: 0.5rem 1rem;
}

/* *{
    border: 1px dotted black;

} */

div{
    background-color: aquamarine;
}


